<div class="jumbo show-listing">
  <h2 class="title">{{this.model.title}}</h2>
  <div class="content">
    <div>
      <img src={{this.model.image}} class="rental-pic" alt="Picture of {{this.model.title}}">
    </div>
    <div class="detail-section">
      <div class="detail owner">
        <strong>Owner:</strong> {{this.model.owner}}
      </div>
      <div class="detail">
        <strong>Type:</strong> {{rental-property-type this.model.category}} - {{this.model.category}}
      </div>
      <div class="detail">
        <strong>Location:</strong> {{this.model.city}}
      </div>
      <div class="detail">
        <strong>Number of bedrooms:</strong> {{this.model.bedrooms}}
      </div>
      <div class="description">
        <p>{{this.model.description}}</p>
      </div>
    </div>
  </div>
  <div>
    {{#if selected}}
      Selected Date {{selected}}
      <button onclick={{action "bookNow" (hash selectedDate=selected rental=this.model)}}>Book now</button>
    {{/if}}
    {{#power-calendar
      center=center
      onSelect=(action (mut selected) value="date")
      onCenterChange=(action (mut center) value="date") as |calendar|
      }}
      {{#calendar.nav}}
        <span class="with-invisible-select">
          {{#with (moment-format calendar.center 'MMMM') as |currentMonth|}}
            {{currentMonth}}
            <select onchange={{action "changeCenter" "month" calendar}}>
              {{#each months as |month|}}
                <option value="{{month}}" selected={{eq month currentMonth}}>{{month}}</option>
              {{/each}}
            </select>
          {{/with}}
        </span>
        <span class="with-invisible-select">
          {{#with (moment-format calendar.center 'YYYY') as |currentYear|}}
            {{currentYear}}
            <select onchange={{action "changeCenter" "year" calendar}}>
              {{#each years as |year|}}
                <option value="{{year}}" selected={{eq year currentYear}}>{{year}}</option>
              {{/each}}
            </select>
          {{/with}}
        </span>
      {{/calendar.nav}}

      {{#calendar.days as |day|}}
        {{day.number}}
      {{/calendar.days}}
    {{/power-calendar}}
  </div>

  <div>
    <h2>Bookings</h2>
    <table style="width: 100%;">
      <thead>
        <tr>
            <th>
              Booking Date
            </th>
            <tr>
              Booking Party
            </tr>
        </tr>
      </thead>
      <tbody>
        {{#each this.model.bookings as |booking|}}
          <tr>
            <td>{{moment-format booking.date "YYYY-MM-DD"}}</td>
            {{log booking.user}}
            <td>{{booking.user.email}}</td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</div>
