<div class="jumbo show-listing">
  <h2 class="title">{{this.model.title}}</h2>
  <div class="content">
    <div>
      <img src={{this.model.image}} class="rental-pic" alt="Picture of {{this.model.title}}">
    </div>
    <div class="detail-section">
      <div class="detail owner">
        <strong>Owner:</strong> {{this.model.owner}}
      </div>
      <div class="detail">
        <strong>Type:</strong> {{rental-property-type this.model.category}} - {{this.model.category}}
      </div>
      <div class="detail">
        <strong>Location:</strong> {{this.model.city}}
      </div>
      <div class="description">
        <p>{{this.model.description}}</p>
      </div>
    </div>
  </div>
</div>

<div class="jumbo show-listing">
  <h3 class="title">Book this office today!</h3>
  <div class="content">
    <button onclick={{action 'bookRental' this.model}} data-test-book-rental>Book Now</button>
  </div>
</div>

<div class="jumbo show-listing">
  <h3 class="title">Bookings</h3>
  <div class="content">
    {{#each this.model.bookings as |booking|}}
      <div data-test-booking>
        Booking~
      </div>
    {{/each}}
  </div>
</div>