<div class="container">
  <div class="menu">
    {{#link-to "index"}}
      <h1>
        <em>SuperDeskRentals</em>
      </h1>
    {{/link-to}}
    <div class="links">
      {{#link-to "about" class="menu-about"}}
        About
      {{/link-to}}
      {{#link-to "contact" class="menu-contact"}}
        Contact
      {{/link-to}}
    </div>

    {{#if (and session.isAuthenticated currentUser.user)}}
      <div style="display: inline-block; color: white;">
        {{#basic-dropdown as |dd|}}
          {{#dd.trigger}}
            <div style="
                width: 40px;
                height: 40px;
                border-radius: 50%;
                display: inline-block;
                overflow:hidden;
                border: 2px solid rgba(255,255,255,0.8)
              "
            >
              <img style="max-width: 100%;" src={{currentUser.user.avatarUrl}} alt="face">
              <img src={{currentUser.user.avatarUrl}} alt="face">
            </div>
          {{/dd.trigger}}
          {{#dd.content}}
            <button onclick={{action "logout"}}>
              Logout
            </button>
          {{/dd.content}}
        {{/basic-dropdown}}
      </div>
    {{else}}
      <button class="login-with-github" onclick={{action "login"}}>Login with Github</button>
    {{/if}}
  </div>
  <div class="body">
    {{outlet}}
  </div>
</div>

Authorization Code: {{session.data.authenticated.authorizationCode}} <br />